<!-- <app-dropdown></app-dropdown>

<app-room></app-room>

<div #name></div> -->

<!-- <app-container> -->
    <!-- cannot control the rendering, it is done by app-container -->
    <!-- <h1>This is from ng-content</h1>
    <app-room></app-room>
    <app-employee></app-employee>
</app-container> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->

<!-- Import RouterLink in app.component.ts -->
<!-- <a routerLink="room">Room</a>
<a routerLink="employee">Employee</a>
<router-outlet></router-outlet> -->
<app-nav></app-nav>

